@keyframes fade-out {
  to {
    opacity: 0;
    background-color: rgba(255, 255, 255, 0);
  }
}
@keyframes hide {
  to {
    z-index: -1;
  }
}

@mixin fade-out {
  animation: fade-out 1s ease-in 1s forwards,
    hide 4s forwards;
}
@mixin pop-up {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
@mixin cursor-pointer {
  cursor: pointer;
  &:active {
    color: grey;
  }
}

.false {
  display: none;
}
.cursor-pointer {
  @include cursor-pointer;
}
.alert {
  font-size: 24px;
  padding: 24px;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  text-align: center;
  @include pop-up;
  @include fade-out;
}
.demo {
  text-align: center;
}

html, body {
  background-color: black;
  color: white;
  font-family: monaco, Consolas, 'Lucida Console', monospace;
  form {
    text-align: center;
  }
  a {
    color: white;
    text-decoration: none;
  }
  select {
    -webkit-appearance: menulist-button;
    color: white;
    background-color: black;
    border: 1px solid white;
    font-family: monaco, Consolas, 'Lucida Console', monospace;
    font-size: 1em;
    margin-top: 5px;
    @include cursor-pointer;
  }
  canvas {
    margin: 10px 5px 0;
    border: 3px solid white;
    width: 20%;
    &#neural-networks, &#neural-network-model {
      width: 50%;
    }
  }
}
