$c1: black;
$c2: white;
$c3: lighten($c1, 5%);
$c4: lighten($c1, 10%);
$c5: lighten($c1, 25%);
$ch1: aqua;
$ch2: red;
$ch3: yellow;
$ch4: green;
$s1: 1px;
$s2: 2px;
$s3: 3px;
$s4: 5px;
$s5: 10px;
$s6: 12px;
$s7: 14px;
$s8: 16px;
$s9: 18px;
$s10: 20px;
$s11: 24px;
$s12: 26px;
$s13: 30px;
$s14: 46px;

@mixin consolas {
  font-family: monaco, Consolas, 'Lucida Console', monospace;
}
@mixin lucida {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
}
@mixin unfaded {
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
}
@mixin faded {
  opacity: 0;
  background-color: rgba(255, 255, 255, 0);
}
@mixin fade-out-keys {
  0% {
    @include unfaded;
  }
  100% {
    @include faded;
  }
}
@mixin hide-keys {
  0% {
    z-index: 0;
  }
  100% {
    z-index: -1;
  }
}
@mixin bg1 {
  background-color: $c1;
}
@mixin bg2 {
  background-color: $c2;
}
@mixin bg3 {
  background-color: $c3;
}
@mixin bg4 {
  background-color: $c4;
}
@mixin bg5 {
  background-color: $c5;
}
@mixin border1 {
  border: $s1 solid $c2;
}
@mixin border2 {
  border: $s2 solid $c2;
}
@mixin pop-up {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
@mixin btn {
  cursor: pointer;
  &:active {
    color: $c5;
  }
}
@mixin set-scrollbar {
  ::-webkit-scrollbar {
    width: $s7;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 $s2 $c2;
  }
  ::-webkit-scrollbar-thumb, ::-webkit-scrollbar-corner, ::-webkit-scrollbar-thumb:window-inactive {
    @include bg2;
  }
}
@mixin set-ace {
  font-family: monospace;
  &.ace-terminal-theme {
    color: $c2;
    .ace_marker-layer {
      .ace_active-line {
        @include bg4;
      }
      .ace_selection {
        @include bg5;
      }
    }
    .ace_gutter-layer {
      color: $c2;
      @include bg3;
    }
    @include set-scrollbar;
  }
}
@mixin sigma {
  .sigma {
    position: relative;
    font-size: $s14;
    display: inline-block;
    vertical-align: middle;
    &::before {
      font-size: $s6;
      display: block;
      position: absolute;
      left: 0;
      top: -26px;
      content: 'N';
      width: $s13;
      text-align: center;
    }
    &::after {
      font-size: $s6;
      display: block;
      position: absolute;
      left: 0;
      bottom: -26px;
      content: 'i = 1';
      width: $s13;
      text-align: center;
    } 
  }
}

@-webkit-keyframes fade-out {
  @include fade-out-keys;
}
@keyframes fade-out {
  @include fade-out-keys;
}
@-moz-keyframes fade-out {
  @include fade-out-keys;
}

@-webkit-keyframes hide {
  @include hide-keys;
}
@keyframes hide {
  @include hide-keys;
}
@-moz-keyframes hide {
  @include hide-keys;
}

@mixin fade-out {
  -webkit-animation: fade-out 1s ease-in 1s forwards,
    hide 4s forwards;
  animation: fade-out 1s ease-in 1s forwards,
    hide 4s forwards;
  -moz-animation: fade-out 1s ease-in 1s forwards,
    hide 4s forwards;
}

.false {
  display: none;
}
.alert {
  font-size: $s11;
  padding: $s11;
  color: $c1;
  @include unfaded;
  @include pop-up;
  @include fade-out;
}
.nav{
  padding: 0 $s4;
  &.header {
    position: fixed;
    top: $s5;
    text-align: left;
    span, a {
      display: block;
    }
  }
  span, a, select, &:not(p) > i {
    @include btn;
  }
}

body {
  font-size: $s9;
  color: $c2;
  text-align: center;
  @include consolas;
  @include bg1;
  img {
    max-width: 80%;
    max-height: 400px;
  }
  h2, h4, p, td, li {
    text-align: left;
  }
  h3 {
    text-align: center;
  }
  p, li {
    font-size: $s8;
    line-height: $s11;
    @include lucida;
    &.equation {
      font-size: $s10;
      height: $s14;
      line-height: $s14;
      text-align: center;
      @include sigma
    }
  }
  .math {
    font-family: serif;
  }
  ul > li {
    margin-bottom: $s5;
  }
  a {
    color: $c2;
    text-decoration: none;
  }
  strong {
    color: $ch1;
  }
  samp {
    &:nth-of-type(3n + 1) {
      color: $ch2;
    }
    &:nth-of-type(3n + 2) {
      color: $ch3;
    }
    &:nth-of-type(3n + 3) {
      color: $ch4;
    }
  }
  .post, canvas, tbody, thead {
    @include border2;
  }
  section {
    padding: 0 100px 0;
    & > div {
      display: table;
      width: 100%;
      font-size: $s7;
      & > table {
        width: 80%;
        table-layout: fixed;
        border-collapse: collapse;
        margin: auto;
        @include bg4;
        th, td {
          padding: $s4;
          vertical-align: top;
          word-wrap: break-word;
          @include bg3;
          &:nth-child(odd) {
            @include bg4;
          }
        }
        th {
          &.width-5 {
            width: 5%;
          }
          &.width-10 {
            width: 10%;
          }
          &.width-15 {
            width: 15%;
          }
          &.width-25 {
            width: 25%;
          }
        }
        td {
          font-size: $s5;
        }
      }
      & > div {
        display: inline-block;
        text-align: left;
        &.post {
          vertical-align: top;
          width: 48%;
          @include bg4;
          &:first-child {
            margin: $s8 $s5 $s8 0;
          }
          &:nth-child(2) {
            margin: $s8 0 $s8 $s5;
          }
          div {
            padding: $s5;
            margin: $s5;
            span {
              font-size: $s7;
              line-height: $s9;
              @include lucida;
            }
          }
          & > div, & > div > div > div {
            @include bg3;
          }
          & > div > div, & > div > div > div > div {
            @include bg4;
          }
        }
        &.editor {
          width: 600px;
          &.lisp, &.pascal {
            width: 450px;
            margin-right: $s10;
            vertical-align: top;
            code > div {
              width: 349px;
            }
          }
          pre {
            height: 300px;
            margin: $s5;
            @include set-ace;
            @include border2;
            &#editor-homoiconic, &#editor-prototypable {
              height: 400px;
            }
          }
          code {
            display: inline-block;
            margin-left: $s5;
            font-size: $s8;
            white-space: nowrap;
            @include set-scrollbar;
            abbr {
              vertical-align: top;
              cursor: help;
            }
            div {
              width: 501px;
              display: inline-block;
              overflow-x: auto;
            }
          }
        }
      }
    }
    & > ul > li {
      margin: 0;
      padding-left: $s8;
      overflow: overlay;
      &:hover {
        @include bg4;
      }
      p {
        @include consolas;
      }
      & > div {
        margin: 0 $s11;
        & > p {
          font-size: $s6;
          line-height: $s9;
          i {
            color: $ch1;
            margin: 0 $s8;
          }
        }
        & > span {
          p, pre, li, h4 {
            @include consolas;
            &:not(h4) {
              font-size: $s7;
              line-height: $s10;
            }
          }
        }
      }
    }
  }
  select {
    margin-top: $s4;
    font-size: $s9;
    -webkit-appearance: menulist-button;
    color: $c2;
    @include border1;
    @include bg1;
    @include consolas;
  }
  canvas {
    width: 20%;
    margin: $s5 $s8 0;
    &#neural-networks, &#neural-network-model {
      width: 50%;
    }
    &#approximator {
      width: 90%;
      // background-size: 100%;
      // background-image: image-url('neural_networks/approximator_bg.png');
    }
  }
}
