html, body {
  height: 100%;
  display: block;
  text-align: center;
  background-color: black;
  color: white;
  font-family: monaco, Consolas, 'Lucida Console', monospace;
  canvas {
    margin: 10px 5px 0;
    border: 3px solid white;
    width: 24.5%;
    &#neural-network, &#neural-network-model {
      width: 50%;
    }
  }
}
